<dl>
    <dt>{{ __plugins }}</dt>
    {%- for item in site.plugins %}
        <dd><a href="https://rubygems.org/gems/{{ item }}">{% octicon cpu height:16 %} {{ item }}</a></dd>
    {%- endfor %}
</dl>
