<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
        {% octicon book height:16 %} {{ site.title }}
        {% if site.addons_branch and site.github_metadata != false %}{{ branch }}{% endif %}
        {% octicon triangle-down height:18 %}
    </span>
    <div class="rst-other-versions">
        {%- assign items = site.addons | default: addons -%}
        {% for item in items -%}
            {%- if addons contains item -%}
                {% include addons/{{ item }}.liquid %}
            {%- else -%}
                {%- if item.github -%}
                    {% include addons/github.liquid items=item.github %}
                {%- endif -%}
            {%- endif -%}
        {% endfor -%}
        <hr>
        <small>
            <span>
                Built with
                <a href="https://jekyllrb.com/">Jekyll</a>
                using the
                <a href="https://github.com/rundocs/jekyll-rtd-theme">jekyll-rtd-theme</a> (MIT)
            </span>
        </small>
    </div>
</div>
